<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>네비바</title>
</head>

<body th:fragment="nav-main">
	<!-- 네비바 시작 -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark border-bottom bg-dark">
        <div class="container-fluid">
			<!-- 홈 이동 -->
            <a class="navbar-brand" href="/">
            	<img src="/assets/images/네비로고.png" alt="히어로랜딩_로고" width="87"
                	class="d-inline-block align-text-top"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>

                <!-- 네비바 우측 메뉴 -->
                <form class="d-flex">
                    <!-- 로그인 버튼 -->
                    <button class="btn btn-outline-success me-2" onclick="location.href='login.html'" th:onclick="|location.href='@{/login/loginForm}'|" type="button">로그인</button>
                    <!-- 회원가입 버튼 -->
                    <button class="btn btn-outline-success" type="button">회원가입</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- 네비바 끝 -->
</body>
</html>