<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:fragment="게시판버튼">
       
                        <!-- 게시판 목록 버튼 검은색 외각 버튼-->
						<h1>여행가는 날 비와버려라~</h1>
						<div class="h1 my-0 py-0">🌙｀、、｀ヽ｀ヽ｀、、ヽヽ、｀、ヽ｀ヽ｀ヽヽ</div>
						<div class="h1 my-0 py-0">ヽ｀、｀ヽ｀、ヽ｀｀、ヽ｀ヽ｀、ヽヽ｀ヽ、ヽ</div>
						<div class="h1 my-0 py-0">｀ヽ、ヽヽ｀ヽ｀、｀｀ヽ｀ヽ、ヽ、ヽ｀ヽ｀ヽ</div>
						<div class="h1 my-0 py-0">｀ヽ｀、ヽヽ｀｀、ヽ｀、ヽヽ 🚶‍♀ ヽ｀｀ヽ｀｀</div>
                        <a class="col-8 btn btn-outline-light btn-lg" href="board/list/1" role="button">게시판</a>

</body>
</html>