<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:fragment="주요뉴스">
	<div class="quickmenu" style="position: sticky; top:120px;">
						<div class="card border text-white bg-dark mb-3">
							<div class="card-body" th>
								<div class="mb-2">
									<h4>주요 뉴스</h4>
								</div>
								<!-- 뉴스 링크 -->
								<div id="주요뉴스" class="py-2" th:each="news : ${news}">
									<a href="https://www.yna.co.kr/view/AKR20210428090000003?input=1195m"
									 th:href="@{{news}(news=${news.URL})}"
										class="link-secondary" th:text="${news.name}">코로나19 확진자 1만명대 돌파…전날보다 1천명↑</a>
								</div>
							</div>
						</div>
					</div>
</body>
</html>